@font-face {
    font-family: "customFont";
    src: url(Jost-Regular.woff);
}
body {
    background-image: url("blur.jpg");
    background-size:cover;
}

#headerBox {
    display:flex;
    background-color: gainsboro;
    height: 100px;
    width: device-width;
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    flex-direction: row;
    border-style:groove;
    border-color: white;
    justify-content: space-between;
}

.title {
    font-family: "customFont";
    font-size:75px;
    padding-right: 50px;
    color:black;
}

.back {
    padding: 20px;
    font-size: 40px;
    font-family: "customFont";
    background-color: whitesmoke;
    border-radius: 25px;
    cursor:pointer;
    border-style:groove;
    border-color: white;
}

.back:hover {
    opacity: 75%;
}

.profPicImg {
    height: 75px;
    border-radius: 25px;
    border-style:groove;
    border-color: white;
    
}