@font-face {
    font-family: "customFont";
    src: url(Jost-Regular.woff);
}
body {
    background-image: url("blur.jpg");
}

#headerBox {
    display:flex;
    background-color: gainsboro;
    height: 100px;
    width: device-width;
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    flex-direction: row;
    border-style:groove;
    border-color: white;
    justify-content:flex-start;
}

.home {
    padding: 20px;
    font-size: 40px;
    font-family: "customFont";
    background-color: whitesmoke;
    border-radius: 25px;
    cursor:pointer;
    border-style:groove;
    border-color: white;
}

.home:hover {
    background: #6dc7db;
    transition: background 0.5s ease-in-out;
}

.addPost {
    padding: 20px;
    font-size: 40px;
    font-family: "customFont";
    background-color: whitesmoke;
    border-radius: 25px;
    cursor:pointer;
    border-style:groove;
    border-color: white;
    white-space: nowrap;
    margin-left:10px;
}

.addPost:hover {
    background: #6dc7db;
    transition: background 0.5s ease-in-out;
}

.profPicImg {
    height: 75px;
    border-radius: 25px;
    border-style:groove;
    border-color: white;
    margin-left: auto;
}

.addIcon {
    height:110px;
    width:110px;
    cursor:pointer;
    display:none;
    margin-left:auto;
}

.homeIcon {
    height:100px;
    width:100px;
    cursor:pointer;
    display:none;
}

@media screen and (max-width: 500px) {
    .profPicImg {
      display: none;
    }
    
    .addPost {
        margin-left:auto;
    }

    #firstPostImg {
        width:80vw;
    }
}

@media screen and (max-width: 390px) {
    .home {
        display:none;
    }
    
    .addPost {
        display:none;
    }

    .homeIcon {
        display:inherit;
    }

    .addIcon {
        display:inherit;
    }
}

.posts {
    margin:auto;
    display:flex;
    height: fit-content;
    width: device-width;
    max-width:300px;
    padding-left: 25px;
    padding-right:25px;
    margin-top: 25px;
    border-radius:25px;
    background-color: gainsboro;
    flex-direction: column;
    align-items: center;
    border-style:groove;
    border-color: white;
}

.posts img {
    max-width: 300px;
    max-height:300px;
    margin-top:5px;
    margin-bottom: 5px;
}

#firstPostImg {
    border-radius:25px;
    border-style:groove;
    border-color: white;
}

.postHeader {
    margin-top:10px;
    display:flex;
    justify-content: space-between;
}

.postProfileImg {
    height:50px;
    width:50px;
    border-radius:10px;
    border-style:groove;
    border-color: white;
}

#postDate {
    margin-left:auto;
    font-family: "customFont";
}

#postText {
    font-family: "customFont";
    margin-bottom:5px;
}

#likeButton {
    width:50px;
    border-radius:50px;
    border-style:groove;
    border-color: white;
    cursor:pointer;
}

#likeButton:hover {
    opacity:80%;
    transition: opacity 0.25s ease-in-out;
}
