@font-face {
    font-family: "customFont";
    src: url(Jost-Regular.woff);
}
body {
    background-image: url("blur.jpg");
}

#headerBox {
    display:flex;
    background-color: gainsboro;
    height: 100px;
    width: device-width;
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    flex-direction: row;
    border-style:groove;
    border-color: white;
    justify-content:flex-start;
}

#footerBox {
    display:flex;
    bottom:0;
    background-color: gainsboro;
    height: 100px;
    margin-top:50px;
    width: device-width;
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    flex-direction: row;
    border-style:groove;
    border-color: white;
    justify-content:center;
}

#footerBox p {
    margin:10px;
    font-size: 20px;
    font-family: "customFont";
}

.home {
    padding: 20px;
    font-size: 40px;
    font-family: "customFont";
    background-color: whitesmoke;
    border-radius: 25px;
    cursor:pointer;
    border-style:groove;
    border-color: white;
}

.home:hover {
    background: #6dc7db;
    transition: background 0.5s ease-in-out;
}

.addPost {
    padding: 20px;
    font-size: 40px;
    font-family: "customFont";
    background-color: whitesmoke;
    border-radius: 25px;
    cursor:pointer;
    border-style:groove;
    border-color: white;
    white-space: nowrap;
    margin-left:10px;
}

.addPost:hover {
    background: #6dc7db;
    transition: background 0.5s ease-in-out;
}

.profPicImg {
    height: 75px;
    border-radius: 25px;
    border-style:groove;
    border-color: white;
    margin-left: auto;
}

.addIcon {
    height:110px;
    width:110px;
    cursor:pointer;
    display:none;
    margin-left:auto;
}

.homeIcon {
    height:100px;
    width:100px;
    cursor:pointer;
    display:none;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    /* width: 40%;
    height: 50%; */
    border-radius: 25px;
    width: 40%;
    height: 350px;
    padding: 75px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    background-color: lightcyan;
    text-align: center;
}

div small {
    font-size: smaller;
}

.post > p {
    font-size: large;
}

.post > img {
    max-width: 70%;
    max-height: 40%;
}

.sidenav-left {
    /* height: 100%; */
    width: 10%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 125; /* Stay at the top */
    left: 10;
    bottom: 125;
    background-color: lightcyan; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-radius: 25px;
}

.sidenav-right {
    /* height: 100%; */
    width: 10%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 125; /* Stay at the top */
    right: 10;
    bottom: 125;
    background-color: lightcyan; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-radius: 25px;
}

footer {
    padding: 10px;
    border-radius: 25px;
    height: 75px;
    width: 97.5%;
    background-color: lightcyan;
    text-align: center;
    position: fixed;
    bottom: 0px;
}

.show {
    display: block;
}

@media screen and (max-width: 500px) {
    .profPicImg {
      display: none;
    }
    
    .addPost {
        margin-left:auto;
    }
}


@media screen and (max-width: 390px) {
    .home {
        display:none;
    }
    
    .addPost {
        display:none;
    }

    .homeIcon {
        display:inherit;
    }

    .addIcon {
        display:inherit;
    }
}

.posts {
    display:flex;
    height: fit-content;
    width: device-width;
    max-width:300px;
    flex-direction: column;
    margin:auto;
    margin-top:25px;
    
}

.posts > div {
    border-style:groove;
    border-color: white;
    background-color: gainsboro;
    display:flex;
    flex-direction:column;
    padding:20px;
    border-radius:25px;
    margin:10px;
}

.posts img {
    max-width: 300px;
    max-height:250px;
    margin-top:5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-width:5px;
    border-style: groove;
    border-color:white;
}

.firstPost {
    border-radius:25px;
    border-style:groove;
    border-color: white;
}

.postHeader {
    margin-top:10px;
    display:flex;
    justify-content: space-between;
}

.postProfileImg {
    height:50px;
    width:50px;
    border-radius:10px;
    border-style:groove;
    border-color: white;
}

#postDate {
    margin-left:auto;
    font-family: "customFont";
}

#postText {
    font-family: "customFont";
    margin-bottom:5px;
}

#likeButton {
    width:50px;
    border-radius:50px;
    border-style:groove;
    border-color: white;
    cursor:pointer;
}

#likeButton:hover {
    opacity:80%;
    transition: opacity 0.25s ease-in-out;
}