@font-face {
    font-family: "customFont";
    src: url(Jost-Regular.woff);
}
body {
    background-image: url("blur.jpg");
}

@media screen and (max-width: 500px) {
    .title {
      display: none;
    }
  }

#headerBox {
    display:flex;
    background-color: gainsboro;
    height: 100px;
    width: device-width;
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    flex-direction: row;
    border-style:groove;
    border-color: white;
    justify-content: space-between;
}

.title {
    font-family: "customFont";
    font-size:6vw;
    padding-left: 25px;
    padding-right:50px;
    color:black;
}

.back {
    padding: 20px;
    font-size: 40px;
    font-family: "customFont";
    background-color: whitesmoke;
    border-radius: 25px;
    cursor:pointer;
    border-style:groove;
    border-color: white;
}

.back:hover {
    opacity: 75%;
}

.profPicImg {
    height: 75px;
    border-radius: 25px;
    border-style:groove;
    border-color: white;
    
}

#loginBox {
    margin:auto;
    display:flex;
    height: 380px;
    width: fit-content;
    padding-left: 25px;
    padding-right:25px;
    margin-top: 25px;
    border-radius:25px;
    background-color: gainsboro;
    flex-direction: column;
    align-items: center;
    border-style:groove;
    border-color: white;
}

.loginInstructions {
    font-family: "customFont";
    font-size: 25px;
    text-align:center;
}

#loginFields {
    padding: 10px;
    border-style:groove;
    border-color: white;
}

#loginName {
    height: 25px;
    margin-bottom:10px;
}
#loginPassword {
    height: 25px;
    margin-bottom:10px;
}

#submit {
    background-color:rgb(98, 111, 120);
    width: 100%;
    height:25px;
    font-size: 15px;
    font-weight: bold;
    font-family: "customFont";
    color: white;
}

#submit:enabled {
    cursor:pointer;
    background-color: rgb(70, 143, 189);
}

#submit:hover:enabled {
    opacity: 75%;
}

#forgetPassword {
    font-family: "customFont";
    color: rgb(98, 151, 231);
    font-weight: bold;
    font-size: 25px;
    cursor:pointer;
}

#forgetPassword:hover {
    opacity:75%
}

#toolTip {
    color:red;
    font-family:"customFont";
    font-weight:bold;
    border-width:5px;
    border-style:groove;
    border-color: white;
    padding: 5px;
    visibility: hidden;
    margin-top:-15px
}